{% for int,int_value in interfaces.items() %}
  {%- if 'hsrp' in int_value -%}
interface {{ int_value.name }}{{ "\n" }}

    {%- if 'delay_reload' in int_value.hsrp %}
  hsrp delay reload {{ int_value.hsrp.delay_reload }}{{ "\n" }}
    {%- endif -%}

    {%- if 'group' in int_value.hsrp %}
  hsrp {{ int_value.hsrp.group }}{{ "\n" }}
    {%- else %}
  hsrp {{ int_value.name | regex_replace('Vlan') }}{{ "\n" }}
    {%- endif -%}

    {%- if 'preempt_delay_min' in int_value.hsrp %}
    preempt delay minimum {{ int_value.hsrp.preempt_delay_min }}{{ "\n" }}
    {%- endif -%}

    {%- if int_value.hsrp.auth is sameas true and 'key_chain' in int_value.hsrp %}
    authentication md5 key-chain {{ int_value.hsrp.key_chain }}{{ "\n" }}    
    {%- endif -%}

  {%- endif -%}
{%- endfor -%}